/* 
    Created on : 28-mar-2017, 10.53.59
    Author     : Mario Taccori
*/

body
{
    background-color: #3a506b;
    font: 17px "Times New Roman", Arial, sans-serif;
    margin: 0px;
}

h1
{
    font-weight: bold;
    font-style: italic;
}

h2
{
    font-weight: bold;
    margin-top: 80px;
    font-style: italic;
}

h3
{
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
}

h4
{
    margin: 0px;
}

input
{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);    
}

input:focus
{
    box-shadow: 0 0 10px green;
}

#divForm
{
    float: left;
    width: 50%;
    min-width: 480px;
    margin-left: 20px;
}

#formDatiProfilo
{
    width: 100%;
}

#formDatiProfilo > div
{
    margin-bottom: 10px;
}

#formDatiProfilo label
{
    display: inline-block;
    width: 120px;
    vertical-align: middle;
    margin-right: 10px;
}

#formDatiProfilo textarea, #formDatiProfilo input
{
    width: 300px;
    height: 20px;
    vertical-align: middle;
}

#formDatiProfilo button
{
    width: 440px;
}

.clear
{
    clear: both;
}

#sidebar1
{
    width: 16.5%;
    float:left;
    margin: 0px;
    background-color: white;
    min-height: 300px;
    border-right: solid 2px #7d84b2;
    border-bottom: solid 2px #7d84b2; 
    padding-bottom: 20px;
}

#sidebar1 div:first-child
{
    margin-top: 55px;
}

#sidebar1 div
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#sidebar1 ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#sidebar1 ul li::before
{
    content: url("../Assets/ICONS/noProfilePic_icona.png");
    vertical-align: -25%;
    margin-right: 2px;
}

#sidebar1 #searchBar
{
    width: 100%;
}

#sidebar1 #searchBar input
{
    display: block;
    width: 80%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar1 #elencoGruppi h4::after
{
    content: url(../Assets/ICONS/gruppi_icona.png);
    vertical-align: -25%;
    margin-left: 10px;
}

#divBody
{
    float: left;
    width: 83%;
    min-width: 480px;
    padding-bottom: 30px;
    background-color: white;
    margin: auto;
    border-right: solid 2px #7d84b2; 
    border-bottom: solid 2px #7d84b2; 
}

#divBody > div
{
    width: 90%;
    margin: auto auto;
    padding: 0px;
    padding-top: 60px;
    padding-bottom: 20px;        
    border: 0px;
}

#divBody a:link, #divBody a:visited
{
    color: black;
    text-decoration: none;
    font-style: italic;
}

#divBody a:hover
{
    font-weight: bold;
    text-decoration: underline;
}

.headerBar
{
    background-color: inherit;
    width: 100%;
    position: fixed;
    top: 0px;
}

header, nav
{
    float:left;
    border-bottom: solid 2px #7d84b2; 
    border-top: solid 2px #7d84b2; 
}

header
{
    width: 16.5%;
    height: 40px;
    border-right: solid 2px #7d84b2; 
}

#title
{
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding: 0px;
    border: 0px;
    min-width: 30px;
    line-height: 40px;
    display: inline-block;
    font: 20px/40px "Times New Roman", Arial, sans-serif;
    font-weight: bold;
    color: #BBBBBB;
}

#logo
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image: url('../Assets/ICONS/NerdBook_logo.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px; 
    height: 30px;
    vertical-align: middle;
}

nav
{
    width: 83%;
    border-bottom: solid 2px #7d84b2;
    border-top: solid 2px #7d84b2; 
}

nav ol, nav li
{
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
}

nav ol
{
    border: 0px;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    font-size: 0;
}

nav li
{
    font-size: 14px;
    background-color: #445E93;
    width: 130px;
    height: 40px;
    text-align: center;
    border-right: solid 2px #7d84b2;
}

nav ol li a
{
    line-height: 40px;
    display: inline-block;
}

nav ol li a:link, nav ol li a:visited
{
    text-decoration: none;
    color: #BBBBBB;
}

nav ol li a:hover
{
    text-decoration: underline;
    color: #BBBBBB;
}

nav li:last-child
{
    float:right;
    border-left: solid 2px #7d84b2;
}

nav li:first-child
{
    margin-left: 1px;
}

nav #descrizioneLink::before
{
    content: url("../Assets/ICONS/descrizione_icona.png");
    vertical-align: -12%;
    margin-right: 6px;
}

nav #loginLink::before
{
    content: url("../Assets/ICONS/login_icona.png");
    vertical-align: -12%;
    margin-right: 6px;
}

nav #profiloLink::before
{
    content: url("../Assets/ICONS/profilo_icona.png");
    vertical-align: -12%;
    margin-right: 6px;
}

nav #bachecaLink::before
{
    content: url("../Assets/ICONS/bacheca_icona.png");
    vertical-align: -12%;
    margin-right: 6px;
}

#sommarioDiv 
{
    width: 30%;
    min-width: 240px;
    margin: 0px;
    padding: 0px;
    border: 1.2px;
    border-style: solid;
    border-color: black;
}

#loginForm
{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#loginForm *
{
    display: block;
    margin: auto;
}

#loginForm label
{
    font: 20px "Times New Roman", Arial, sans-serif;
    width:80%;
}

#loginForm label:after
{
    content: '\A';
    white-space: pre;
}

#loginForm input, #loginForm button
{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#loginFormDiv > div:first-child 
{
    width:30%;
    margin: auto;
}

#loginFormDiv > div:first-child *
{
    display: inline-block;
    vertical-align: middle;
}

#loginFormDiv > div:first-child h1
{
    margin-left: 30px;
}

#posts div#autorePost, #posts div#profilePic
{
    display: inline-block;
    float: left;
    width: auto;
}

#divBody div#profilePic
{
    display: inline-block;
    width: 150px;
    margin: 0px;
    float: left;
}

@media only screen and (min-width: 1024px)
{
    
}

@media only screen and (min-width: 480px) and (max-width: 1024px)
{
    
}

@media only screen and (max-width: 480px)
{
    #sidebar1
    {
        display: none;
    }
}