/* 
    Created on : 28-mar-2017, 10.53.59
    Author     : Mario Taccori
*/

body
{
    background-color: #3a506b;
    font: 17px "Times New Roman", Arial, sans-serif;
    margin: 0px;
}

h1
{
    font-weight: bold;
    font-style: italic;
}

h2
{
    font-weight: bold;
    margin-top: 80px;
    font-style: italic;
}

h3
{
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
}

h4
{
    margin: 0px;
}

input
{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);    
}

input:focus
{
    box-shadow: 0 0 10px green;
}

nav
{
    width: 79%;
}

nav ol, nav li
{
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
}

nav ol
{
    border: 0px;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    font-size: 0;
}

#divForm
{
    float: left;
    width: 50%;
    min-width: 480px;
}

#formDatiProfilo
{
    width: 100%;
}

#formDatiProfilo > div
{
    margin-bottom: 10px;
}

#formDatiProfilo label
{
    display: inline-block;
    width: 120px;
    vertical-align: middle;
    margin-right: 10px;
}

#formDatiProfilo textarea, #formDatiProfilo input
{
    width: 300px;
    height: 20px;
    vertical-align: middle;
}

#formDatiProfilo button
{
    width: 440px;
}

.clear
{
    clear: both;
}

#sidebar1
{
    width: 20.5%;
    float: left;
    margin: 0px;
    background-color: white;
    min-height: 300px;
    border-right: solid 2px #7d84b2;
    border-bottom: solid 2px #7d84b2; 
    padding-bottom: 20px;
}

#sidebar1 div:first-child
{
    margin-top: 55px;
}

#sidebar1 div
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#sidebar1 ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#sidebar1 ul li::before
{
    content: url("../Assets/ICONS/noProfilePic_icona.png");
    vertical-align: -25%;
    margin-right: 2px;
}

#sidebar1 #searchBar
{
    width: 100%;
}

#sidebar1 #searchBar input
{
    display: block;
    width: 80%;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar1 #elencoGruppi h4::after
{
    content: url(../Assets/ICONS/gruppi_icona.png);
    vertical-align: -25%;
    margin-left: 10px;
}

#divBody
{
    float: left;
    width: 79%;
    padding-bottom: 30px;
    background-color: white;
    margin: auto;
    border-right: solid 2px #7d84b2; 
    border-bottom: solid 2px #7d84b2; 
}

#divBodyLogin
{
    width: 99%;
    height: 95vh;
    min-width: 480px;

    background-color: white;
    
    margin: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-right: solid 2px #7d84b2; 
    border-bottom: solid 2px #7d84b2; 
}

#divBody > div:not(#presentazione):not(#posts)
{
    width: 90%;
    margin: auto auto;
    padding: 0px;
    padding-top: 60px;
    padding-bottom: 20px;        
    border: 0px;
}

#divBody a:link, #divBody a:visited
{
    color: black;
    text-decoration: none;
    font-style: italic;
}

#divBody a:hover
{
    font-weight: bold;
    text-decoration: underline;
}

.headerBar
{
    background-color: inherit;
    width: 100%;
    min-width: 800px;
    position: fixed;
    top: 0px;
}

header, nav
{
    float: left;
    border-bottom: solid 2px #7d84b2; 
    border-top: solid 2px #7d84b2; 
}

#logo
{
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
    border: 0px;
    display: inline-block;
    width: 40px; 
    height: 100%;
    vertical-align: middle;
}

#sommarioDiv 
{
    width: 30%;
    min-width: 240px;
    margin: 0px;
    padding: 0px;
    border: 1.2px;
    border-style: solid;
    border-color: black;
}

#loginForm
{
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#loginForm *
{
    display: block;
    margin: auto;
}

#loginForm label
{
    font: 20px "Times New Roman", Arial, sans-serif;
    width: 80%;
}

#loginForm label:after
{
    content: '\A';
    white-space: pre;
}

#loginForm input, #loginForm button
{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#loginFormDiv
{
    position: relative;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    width: 50%;
    max-width: 270px;
}

#loginFormDiv > div:first-child *
{
    display: inline-block;
    vertical-align: middle;
}

#loginFormDiv > div:first-child h1
{
    margin-left: 10px;
}

#posts div.autorePost, #posts div.profilePic
{
    display: inline-block;
    float: left;
    margin-top: 10px;
}

#posts div.datiAutore, #posts div.contenutoPost
{
    margin-left: 10px;
}

#posts div.profilePic img
{
    height: auto; 
    width: auto; 
    max-width: 80px; 
    max-height: 80px;    
    margin-right: 20px;   
}

#posts .allegatoPost img
{
    height: auto; 
    width: auto; 
    max-width: 80%; 
    max-height: 80%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#posts > div
{
    width: 90%;
    border: solid 1px black;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

div#presentazione
{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 99.5%;
    border: solid 1px black;
}

div#presentazione p
{
    margin-left: 10px;    
}

#divBody div#profilePic
{
    display: inline-block;
    width: 150px;
    margin: 0px;
    margin-bottom: 15px;
    margin-right: 20px;
    float: left;
}
    
#title
{
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding: 0px;
    border: 0px;
    line-height: 40px;
    display: inline-block;
    font: 20px/40px "Times New Roman", Arial, sans-serif;
    font-weight: bold;
    color: #BBBBBB;
}

@media only screen and (min-width: 1024px)
{
    header
    {
        width: 20.5%;
        height: 40px;
        border-right: solid 2px #7d84b2; 
    }

    #title
    {
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        padding: 0px;
        border: 0px;
        min-width: 30px;
        line-height: 40px;
        display: inline-block;
        font: 20px/40px "Times New Roman", Arial, sans-serif;
        font-weight: bold;
        color: #BBBBBB;
    }

    
    nav ol li a
    {
        line-height: 40px;
        display: inline-block;
    }

    nav ol li a:link, nav ol li a:visited
    {
        text-decoration: none;
        color: #BBBBBB;
    }

    nav ol li a:hover
    {
        text-decoration: underline;
        color: #BBBBBB;
    }
    
    nav ol li a img
    {
        display: none;
    }
    
    nav li
    {
        font-size: 14px;
        background-color: #445E93;
        width: 100px;
        height: 40px;
        text-align: center;
        border-right: solid 2px #7d84b2;
    }

    nav li:last-child
    {
        float:right;
        border-left: solid 2px #7d84b2;
    }

    nav li:first-child
    {
        margin-left: 1px;
    }

    nav li.active
    {
        background-color: #0a214f; 
    }     
    
    header, #sidebar1
    {
        min-width: 150px;
    }
} /* FINE 1024min */

@media only screen and (min-width: 480px) and (max-width: 1024px)
{
    header
    {
        width: 20.5%;
        height: 40px;
        border-right: solid 2px #7d84b2; 
        min-width: 150px;
    }
        
    #sidebar1
    {
        min-width: 165px;
    }
    
    body
    {
        min-width: 805px;
    }
    
    nav
    {
        min-width: 450px;
    }
    
    nav ol li a
    {
        line-height: 40px;
        display: inline-block;
    }

    nav ol li a:link, nav ol li a:visited
    {
        text-decoration: none;
        color: #BBBBBB;
    }

    nav ol li a:hover
    {
        text-decoration: underline;
        color: #BBBBBB;
    }
    
    nav ol li a img
    {
        display: none;
    }
    
    nav li
    {
        font-size: 14px;
        background-color: #445E93;
        width: 80px;
        height: 40px;
        text-align: center;
        border-right: solid 2px #7d84b2;
    }

    nav li:last-child
    {
        float:right;
        border-left: solid 2px #7d84b2;
    }

    nav li:first-child
    {
        margin-left: 1px;
    }

    nav li.active
    {
        background-color: #0a214f; 
    } 
} /* FINE dim intermedie */

@media only screen and (max-width: 481px)
{
    body
    {
        min-width: 480px;
    }
    
    .headerBar
    {
        width: 470px;
        min-width: 470px;
    }
    
    header
    {
        width: 100%;
        min-width: 250px;
        height: 40px;
        border-right: solid 2px #7d84b2; 
        border-bottom: 0px;            
    }

    #sidebar1
    {
        display: none;
    }
    
    nav
    {
        width: 100%;
    } 
    
    #divBody
    {
        width: 470px;
        padding-top: 50px;
    }
    
    #divForm
    {
        margin-left: 0px;
        margin-top: 15px;
    }
       
    nav ol li a img
    {
        display: block;
        width: 35px;
        height: 100%;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    
    nav ol li a
    {
        height: 100%;
        font-size: 0px;
        vertical-align: middle;
    }
    
    nav li
    {
        background-color: #445E93;
        width: 50px;
        height: 40px;
        text-align: center;
        border-right: solid 2px #7d84b2;
    }
    
    nav li:last-child
    {
        float:right;
        border-left: solid 2px #7d84b2;
        border-right: none;
    }

    nav li:first-child
    {
        margin-left: 1px;
    }
}